apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: project1
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
#         image: 349821334974.dkr.ecr.us-east-1.amazonaws.com/project1-nginx:v1
          image: IMAGE_PLACEHOLDER
          ports:
            - containerPort: 80

